<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>823325824324-9m79bbahlnqp2odh2k2lehu8dsi4lj43.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.823325824324-9m79bbahlnqp2odh2k2lehu8dsi4lj43</string>
	<key>API_KEY</key>
	<string>AIzaSyCpTjfbxmXT_YYP8oYR987IhFpYdiVS_sM</string>
	<key>GCM_SENDER_ID</key>
	<string>823325824324</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adjeko.gottippspiel</string>
	<key>PROJECT_ID</key>
	<string>gottippspiel</string>
	<key>STORAGE_BUCKET</key>
	<string>gottippspiel.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:823325824324:ios:79e4c30c7c7433c4</string>
	<key>DATABASE_URL</key>
	<string>https://gottippspiel.firebaseio.com</string>
</dict>
</plist>